button.navbar-btn{
      margin-top:15px;
    } 

button.navbar-btn-icon{
	margin-top: 7px
}

body {
    background: url('../images/bkgrmd.webp') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-bottom: 67px;
}

div.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 67px;
  background-color: #f5f5f5;
}

div.loading {
  background: rgba(0,0,0,0.2);
}

@font-face {
    font-family: cinzel;
    src: url('../fonts/Cinzel-Bold.otf');
}

@font-face {
    font-family: HelveticaNeue-Light;
    src: url('../fonts/HelveticaNeue-Light.ttf');
}

h1.cinz {
  font-family: cinzel;
  color: rgb(221, 114, 114);
  letter-spacing: 6px;
  font-size: 50px;
}

h2.cinz {
  font-family: cinzel;
  color: rgb(221, 114, 114);
  letter-spacing: 4px;
  font-size: 27px;
}

h3.cinz {
  font-family: cinzel;
  color: rgb(221, 114, 114);
  letter-spacing: 3px;
  font-size: 20px;
}

label.checkbox-inline, label.radio-inline {
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 2.0px;
  color: #5A5F67;
}

label.control-label{
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  font-size: 17px;
  letter-spacing: 3.35px;
  color: #5A5F67;
}

hr.divide {
  background-color: rgb(221, 114, 114);
  border-color: rgb(221, 114, 114);
  width: 90%;
}

p.settings{
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 3.35px;
  color: #5A5F67;
}

input.form-control{
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  font-size: 16px;
}

p.lead {
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgb(90, 95, 103);
}

button.login {
  margin-top: 20px; 
}

button.btn-default { 
    font-size: 22px;
    font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
    background-color: #DD7272;
    border-radius: 0px;
    color: white;
}

button.zero {
  padding-left: 0; padding-right: 0;
  border-left-width: 0; border-right-width: 0;
  white-space: nowrap;
  overflow: hidden;
}

button.sess {
  font-size: 15px;
  width: 0%;
  height: 0px;
}

button.listen {
  font-size: 30px;
}

button.back {
  font-size: 15px;
  width: 0%;
}

button.survey {
    font-size: 30px;
    background-color: rgb(69,186,170);
}

button.btn-default:hover {
    color: white;
    background-color: rgb(194, 42, 39);
}

button.btn-danger {
    background-color: transparent;
    font-size: 22px;
    font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
    border-radius: 0px;
    color: #DD7272;
}

button.btn-danger:hover {
      background-color: rgba(221,114,114,0.9);
}

@media screen and (max-width: 638px) {
  button.btn-danger-sm {
    font-size: 17px;
    margin-top: 13px;
  }


  h2.cinz {
    font-family: cinzel;
    color: rgb(221, 114, 114);
    letter-spacing: 4px;
    font-size: 18px;
  }

  div.footer {
  position: fixed;
  bottom: 0;
  left: -10px;
  width: 110%;
  /* Set the fixed height of the footer here */
  height: 67px;
  background-color: #f5f5f5;
}

}

div.aplayer{
	width: 0%;
  height: 0px;
}

h3.dayText {
  color: rgb(69,186,170);
  font-weight: bold;
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
  position: relative;
  top:-71px;
  left:40px;
}

h3.lateText {
  color: gray;
  font-size: 20px;
  font-weight: bold;
  font-family: "HelveticaNeue-Light",Helvetica, Arial, sans-serif;
}


div#radialIndicator {
  position: relative;
  left:-150px;
}